body {
    
    background-color: #111;
    color: #eee;
    margin: 0;
    padding: 0;
    font-family: "Caveat", cursive;
    font-optical-sizing:auto;
    font-weight: bolder;
    font-style: larger;
    font-size: larger;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}

section {
    padding: 20px;
}

#ellie {
    width: 400px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    margin: 0px;
    width: 70%;
    align-content: center;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 10px;
    text-align: center;
}


#joel {
    width: 400px;
    height: auto;
    border-radius: 20px;
}

#city {
    height: 50%;
    width: 50%;
    border-radius: 20px;
}

#home {
    height: 50%;
    width: 50%;
    border-radius: 20px;
}

img {
    height: 50%;
    width: 50%;
    margin: 0px;
    border-radius: 20px;
}